


<h3>Add ingredients</h3>

<%= form_tag(recipe_ingredients_path(@recipe)) do %>
  <%= label_tag("Ingredient Name") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("ADD") %>

<% end %>

<% if @recipe.ingredients.any? %>
<h3> Ingredient List </h3>
<ul>
  <% @recipe.ingredients.each do |x| %>
    <li><%= x.name %></li>
  <% end %>
</ul>
<% end %>
